<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<style type="text/css">
	.hello{
		width: 50%;
		margin-left: 25%;
		margin-top: 10%;
	}
</style>
<body>
	<div>
		<!-- <a href="{{url_for('new')}}"></a> -->
		<form class="hello" method="post" action="">
			<input type="text" name="accomodation" placeholder="Accomodation"><br>
			<input type="text" name="size" placeholder="Size"><br>
			<input type="text" name="bed" placeholder="Beds"><br>
			<input type="text" name="info" placeholder="More Info"><br>
			<input type="text" name="location" placeholder="Location"><br>
			<input type="text" name="wifi" placeholder="WIFI"><br>
			<input type="text" name="tv" placeholder="TV"><br>
			<input type="text" name="bar" placeholder="Mini bar"><br>
			<input type="text" name="kitchen" placeholder="Kitchen"><br>
			<input type="text" name="laundry" placeholder="Laundry"><br>
			<input type="submit" name="send" value="SEND"><br>
							
					
			
		</form>
	</div>
	
</body>
</html>